# npm
**/node_modules/*
package.json
package-lock.json
yarn.lock

# expo
app.json
**/.expo/*
**/.expo-shared/*

# typescript
tsconfig.json

# babel
# .babelrc.js

# eslint
.eslintrc.js
# .eslintignore

# prettiier
# .prettierrc.js
# .prettieriignore

# renovate
renovate.json
