# npm
/node_modules/
npm-debug.*

# expo
.expo/

# .env
.env
.env.local
.env.development
.env.development.local
.env.production
.env.production.lcoal
.env.test

# production
.DS_Store

# npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*